html {
  position: relative;
  min-height: 100%;
  font-size: 13px;
}
body {
  background-color: #f3f4f5 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #FFFFFF;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gold {
  color: #ffd700;
}
.silver {
  color: #c0c0c0;
}
.bronze {
  color: #CD7F32;
}

.place-1 {
  background-color: #33ff00;
}
.place-2 {
  background-color: #66ff00;
}
.place-3 {
  background-color: #99ff00;
}
.place-4 {
  background-color: #ccff00;
}
.place-5 {
  background-color: #FFFF00;
}
.place-6 {
  background-color: #FFCC00;
}
.place-7 {
  background-color: #ff9900;
}
.place-8 {
  background-color: #ff6600;
}
.place-9 {
  background-color: #FF3300;
}
.place-10 {
  background-color: #FF0000;
}

.section-title {
  color: #343434;
  font-size: 20px;
  font-weight: 900;
  border-left: 4px solid #28a745;
  padding-left: 8px;
  line-height: 15px;
  height: 18px;
  text-align: left;
  margin-top: 40px;
}
.section-body {
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 3px;
}
.section-body .section-info-box {
  text-align: left;
  padding-bottom: 15px;
}
.section-body .section-info-box > .title-container {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.section-body .section-info-box > .info-container {
  font-weight: bold;
}
.transactions-list {
  text-align: left;
  padding-bottom: 10px;
}
.transactions-list .year {
  font-weight: bold;
  color: #343434;
  font-size: 14px;
  padding: 10px 0;
}
.transactions-list .transaction {
  border-bottom: 1px solid #cecece;
  padding-bottom: 3px;
}

.transactions-list .transactions-headings {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.transactions-list .transaction-col {
  display: inline-block;
  vertical-align: top;
}
.transactions-list .transaction-col.team {
  width: 20%;
}
.transactions-list .transaction-col.date {
  width: 10%;
}
.transactions-list .transaction-col.details {
  width: 70%;
}

.franchise-list {
  text-align: left;
  padding-bottom: 10px;
}
.franchise-list .year {
  font-weight: bold;
  color: #343434;
  font-size: 14px;
  padding: 10px 0;
}
.franchise-list .transaction {
  border-bottom: 1px solid #cecece;
  padding-bottom: 3px;
}

.franchise-list .franchise-headings {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.franchise-list .franchise-col {
  display: inline-block;
  vertical-align: top;
}
.franchise-list .franchise-col.team {
  width: 45%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.franchise-list .franchise-col.record {
  width: 24%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.franchise-list .franchise-col.points {
  width: 24%;
}
.franchise-list .franchise-col.championships {
  width: 7%;
}

.franchise-list {
  text-align: left;
  padding-bottom: 10px;
}
.franchise-list .year {
  font-weight: bold;
  color: #343434;
  font-size: 14px;
  padding: 10px 0;
}
.franchise-list .transaction {
  border-bottom: 1px solid #cecece;
  padding-bottom: 3px;
}

.champion-list {
  text-align: left;
  padding-bottom: 10px;
}
.champion-list .champion-headings {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.champion-list .champion-col {
  display: inline-block;
  vertical-align: top;
}
.champion-list .champion-col.year {
  width: 20%;
}
.champion-list .champion-col.team {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 40%;
}
.champion-list .champion-col.second {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 40%;
}

.franchise-header {
  text-align: left;
}

.franchise-header .name {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
}

.franchise-header .stats {
  font-size: 0.9em;
  font-weight:500;
}

.franchise-header .championships {
  font-size: 1.2em;
  font-weight:500;
}

.franchise-header .runnerUps {
  font-size: 1.2em;
  font-weight:300;
}


.keepers-list {
  text-align: left;
  padding-bottom: 10px;
}
.keepers-list .group {
  font-weight: bold;
  color: #343434;
  font-size: 14px;
  padding: 10px 0;
}
.keepers-list .keeper {
  border-bottom: 1px solid #cecece;
  padding-bottom: 3px;
}

.keepers-list .keepers-headings {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.keepers-list .keeper-col {
  display: inline-block;
  vertical-align: top;
}
.keepers-list .keeper-col.player {
  width: 40%;
}
.keepers-list .keeper-col.position {
  width: 10%;
}
.keepers-list .keeper-col.rank {
  width: 10%;
}
.keepers-list .keeper-col.rankppg {
  width: 10%;
}
.keepers-list .keeper-col.points {
  width: 10%;
}
.keepers-list .keeper-col.games {
  width: 10%;
}
.keepers-list .keeper-col.grade {
  width: 10%;
}
.content {
  padding-bottom: 55px;
}
.page .nav-label {
  color: #343434;
  font-weight: 500;
  margin: .2rem .5rem;
  padding: 0;
  border-bottom: 2px solid #FFF;
}
.page .nav-link {
  color: #636a71;
  font-weight: 500;
  margin: .2rem .5rem;
  padding: 0;
  border-bottom: 2px solid #FFF;
}
.page .nav-link.active {
  border-bottom: 2px solid #28a745;
}


.seasons-list {
  text-align: left;
  padding-bottom: 10px;
}
.seasons-list .group {
  font-weight: bold;
  color: #343434;
  font-size: 14px;
  padding: 10px 0;
}
.seasons-list .season {
  border-bottom: 1px solid #cecece;
  padding-bottom: 3px;
}

.seasons-list .seasons-headings {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.seasons-list .season-col {
  display: inline-block;
  vertical-align: top;
}
.seasons-list .season-col.year {
  width: 20%;
}
.seasons-list .season-col.record {
  width: 20%;
}
.seasons-list .season-col.standing {
  width: 20%;
}
.seasons-list .season-col.points {
  width: 20%;
}
.seasons-list .season-col.owner {
  width: 20%;
}
.col-sm {
  min-width: 50%;
}


.drafts-list {
  text-align: left;
  padding-bottom: 10px;
}
.drafts-list .group {
  font-weight: bold;
  color: #343434;
  font-size: 14px;
  padding: 10px 0;
}
.drafts-list .draft {
  border-bottom: 1px solid #cecece;
  padding-bottom: 3px;
}

.drafts-list .drafts-headings {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.drafts-list .draft-col {
  display: inline-block;
  vertical-align: top;
}
.drafts-list .draft-col.pick {
  width: 5%;
}
.drafts-list .draft-col.franchise {
  width: 20%;
}
.drafts-list .draft-col.player {
  width: 20%;
}
.drafts-list .draft-col.posPick {
  width: 12%;
}
.drafts-list .draft-col.rank {
  width: 12%;
}
.drafts-list .draft-col.rankppg {
  width: 12%;
}
.drafts-list .draft-col.games {
  width: 10%;
}
.drafts-list .draft-col.grade {
  width: 5%;
}


.legends-list {
  text-align: left;
  padding-bottom: 10px;
}
.legends-list .group {
  font-weight: bold;
  color: #343434;
  font-size: 14px;
  padding: 10px 0;
}
.legends-list .legend {
  border-bottom: 1px solid #cecece;
  padding-bottom: 3px;
}

.legends-list .legends-headings {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.legends-list .legend-col {
  display: inline-block;
  vertical-align: top;
}
.legends-list .legend-col.name {
  width: 50%;
}
.legends-list .legend-col.years {
  width: 50%;
}
.legends-list .legend-col.points {
  display: none;
  /*width: 20%;*/
}
.legends-list .legend-col .pointstext {
  font-size: 0.8em;
  color: #636a71;
}


.seasonsync-list {
  text-align: left;
  padding-bottom: 10px;
}
.seasonsync-list .group {
  font-weight: bold;
  color: #343434;
  font-size: 14px;
  padding: 10px 0;
}
.seasonsync-list .seasonsync {
  border-bottom: 1px solid #cecece;
  padding-bottom: 3px;
}

.seasonsync-list .seasonsync-headings {
  text-transform: uppercase;
  color: #636a71;
  font-size: 12px;
}
.seasonsync-list .seasonsync-col {
  display: inline-block;
  vertical-align: top;
}
.seasonsync-list .seasonsync-col.status {
  width: 5%;
}
.seasonsync-list .seasonsync-col.data {
  width: 15%;
}
.seasonsync-list .seasonsync-col.date {
  width: 80%;
}

/*
div[class*="-col"]{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
*/
section .table th,
section .table td {
  padding: 2px;
}